/* styles/footer.css */

.animated-footer {

    display: flex;
    background-color: #1f1c1c;
    color: #fff;
    padding: 20px;
    text-align: center;
    justify-content: center;
    font-size: large;
    bottom: 0;
    left: 0;
    width: 100%;
    
}