<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisibleVoice.ai</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="Website Icon" type="png" href="../static/logo-removebg-preview.png">
</head>
<body>
    <header>
        <nav class="navbar" id="navbar">
          <a href="" class="nav-branding">
            <img src="../static/logo-removebg-preview.png" alt="logo" class="logo">
            <h3><span class="pri">V</span>ISIBLE<span class="pri">V</span>OICE.AI</h3>
          </a>
        </nav>
      </header>

{% block body %}

{% endblock body %}

<footer>
    Copyright&copy;2024 Predictive Pundits
  </footer>
  <script src="../static/script.js"></script>
</body>
</html>