{% extends 'base.html' %}

{% block body %}

<main>
    <section id="home">
      <div class="imgs1">
          <!-- <span class="hand"><center><img src="pngwing.com (6).png" class="img1"></center></span>
          <span class="hand"><center><img src="pngwing.com (5).png" class="img2"></center></span>
          <span class="hand"><center><img src="pngwing.com (4).png" class="img3"></center></span> -->
          <img src="../static/Screenshot_2024-02-21_203426-removebg-preview.png">
      </div>
      <div class="barr">
        <span><p>Transcending</p> Barriers,</span>
        <span><p>Bridging</p> Worlds:</span>
      </div>
      <div class="logo-heading">
        <span class="pri">V</span>ISIBLE<span class="pri">V</span>OICE.AI
      </div>
      <div class="imgs2">
        <!-- <span class="hand2"><center><img src="pngwing.com (3).png" class="img4"></center></span>
        <span class="hand2"><center><img src="pngwing.com (2).png" class="img5"></center></span>
        <span class="hand2"><center><img src="pngwing.com (1).png" class="img6"></center></span> -->
        <img src="../static/Screenshot_2024-02-21_203442-removebg-preview.png">
      </div>
      <div class="barr2">
        <span><p>Enabling</p>Communication</span>
        <span><p>Beyond </p> Speech, One Sign</span>
        <span><p>at a Time.</p></span>
      </div>
      <div class="getstart">
        <a href="/dashboard"><button class="btn" style="margin-top: 20px;">GET STARTED →</button></a>
      </div>
    </section>
    <section id="about">
      <h2>ABOUT <span class='pri' style="margin-left: 30px;">US!</span></h2>
      <div class="content">
      <div class="left">
          <h3>VISIBLE<span class='pri'>VOICE</span>.AI</h3>
          <p>At VisibleVoice.ai, we are passionate about revolutionizing communication accessibility through innovative technology. Our mission is to break down barriers and empower individuals to express themselves freely, regardless of their communication abilities.
          </p>
      </div>
      <div class="right">
          <h3>OUR VISI<span class='pri'>ON</span></h3>
          <p>We envision a world where communication knows no bounds, where every voice is heard, and every gesture is understood. Through cutting-edge advancements in artificial intelligence and machine learning, we strive to make this vision a reality.
          </p>
      </div>
      <div class="left">
          <h3><span class="pri">WHAT </span>WE DO?
          </h3>
          <p>VisibleVoice.ai is a pioneering platform that leverages the power of sign language recognition to bridge the gap between the deaf and hearing communities. Our state-of-the-art sign language predictor records sign gestures in real-time and translates them into voice and text, enabling seamless communication for everyone.
          </p>
      </div>
      <div class="right">
          <h3>OUR <span class="pri">COMMIT</span>MENT</h3>
          <p>We are committed to pushing the boundaries of technology to create inclusive solutions that enhance accessibility and foster understanding. By harnessing the potential of AI, we aim to empower individuals with diverse communication needs and promote inclusivity on a global scale.
          </p>
      </div>
      <div class="left">
          <h3>JO<span class="pri">IN </span>US!
          </h3>
          <p>Join us on our journey to redefine communication and make the world a more inclusive place for all. Together, we can break down barriers and amplify voices - because every voice deserves to be visible.</p>
      </div>
      </div>
    </section>
    <section id="contact">
      <h2><span class='pri' style="margin-right: 20px;">MEET  </span>THE <span style="margin-left: 20px;">TEAM</span></h2>
      <div class="profile">
        <img src="profile.png" width="150px">
        <div class="detial">
          <span class="name">Sahil Murhekar</span>
          <span>AI/ML Developer</span>
          <span>sahil.murhekar2004@gmail.com</span>
          <span>(+91) 9403078323</span>
          <a href="https://portfolio-aiwithsahil.vercel.app/" target="_blank"><span class="pri">Protfolio</span></a>
        </div>
      </div>
      <div class="profile">
        <img src="profile.png" width="150px">
        <div class="detial">
          <span class="name">Girendra Singh</span>
          <span>Front-end Developer</span>
          <span>girendra.singh2003@gmail.com</span>
          <span>(+91) 7268982745</span>
          <a href="#" target="_blank"><span class="pri">Protfolio</span></a>
        </div>
      </div>
      <div class="profile">
        <img src="profile.png" width="150px">
        <div class="detial">
          <span class="name">ARSHLAAN</span>
          <span>Back-end Developer</span>
          <span>arshlaansiddiquie@gmail.com</span>
          <span>(+91) 8789314164</span>
          <a href="#" target="_blank"><span class="pri">Protfolio</span></a>
        </div>
      </div>
      <div class="profile">
        <img src="profile.png" width="150px">
        <div class="detial">
          <span class="name">Aryan Chopra</span>
          <span>AI/ML Developer</span>
          <span>aryanchopra170@gmail.com</span>
          <span>(+91) 9810304104</span>
          <a href="#" target="_blank"><span class="pri">Protfolio</span></a>
        </div>
      </div>
    </section>
    </main>

{% endblock body %}